.testh1 {
    background-color: yellow;
  }


#readingMapBar {
    background-color: green;
    height: 100%;
    width: 3%;
}

#readingMapBigBox {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#readingMapIframe {
  height: 100%;
  width: 97%;
}