#readingMapBigBox {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
#originalViewer {
    height: 100%;
    width: 100%;
}

/* #readingMapBar {
    height: 100%;
    top:32px;
    width: 18px;
    background-color: white;
} */

#readingMapBarDiv {
    /* height: 100%; */
    z-index: 1;
    top:32px;
    bottom: 0;
    width: 18px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    background-color: white;
    /* border :1px  gray; */
}

.readingMapBarBlock {
    width: 100%;
    flex-grow: 1;
}

.rmProgressMark {
    width: 50%;
    height: 1%;
    position: absolute;
    left: 0;
}


.rmMarker {
    height: 2%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    content: url(../../rmImages/markers/defaultMarker.png);
}

.rmAbstract {
    /* height: 2%; */
    width: 150px;
    position: absolute;
    left: 105%;
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 80%;
    border: 1px inset gray;
    border-radius: 1px;
    padding: 8%;
    opacity:0.7;
    z-index: 3000;
}

.rmAbstract:hover {
    z-index: 99999;
}

.rmAbstractPoint{
    width: 50%;
    height: 1%;
    left: 55%;
    z-index: 3000;
    position: absolute;
    /* background-image: url(../../rmImages/point.png); */
}
/* .rmAbstract:before, .rmAbstract:after{
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.rmAbstract:before{
    border-bottom-color: rgba(231, 17, 17, 0.888);
    border-width: 9px;
    left: 13px;
  margin-left: -9px;
}
.rmAbstract:after{
    border-bottom-color: rgba(245, 10, 10, 0.909);
    border-width: 9px;   
    left: 13px; 
    margin-left: -8px;
} */