#readingMapBigBox {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
#originalViewer {
    height: 100%;
    width: 97%;
}

#readingMapBar {
    height: 100%;
    width: 3%;
    background-color: white;
}

#readingMapBarDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;

}

.readingMapBarBlock {
    width: 100%;
    flex-grow: 1;
}

.rmProgressMark {
    width: 50%;
    height: 1%;
    position: absolute;
    left: 0;
}


.rmMarker {
    height: 2%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    content: url(../../rmImages/markers/defaultMarker.png);
}

.rmMarkerNote {
    /* height: 2%; */
    width: 200%;
    position: absolute;
    left: 120%;
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1px;
    /* border:10px; */
    padding: 5em;
    opacity:0.6;
    /* transform: translate(-50%, 0); */
    /* content: url(../../rmImages/markers/defaultMarker.png); */
}