#readingMapBigBox {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
#originalViewer {
    height: 100%;
    width: 97%;
}

#readingMapBar {
    height: 100%;
    width: 3%;
    background-color: white;
}

#readingMapBarDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.readingMapBarBlock {
    width: 100%;
    flex-grow: 1;
}

.rmProgressMark {
    width: 50%;
    height: 50%;
    position: relative;
    display: block;
}