html {
    /* maximum width of popup as defined in Chromium's source code as kMaxWidth
       //src/chrome/browser/ui/views/extensions/extension_popup.cc
       //src/chrome/browser/ui/gtk/extensions/extension_popup_gtk.cc
     */
    width: 800px;
    /* in case Chromium decides to lower the value of kMaxWidth */
    max-width: 100%;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    width: 100%;
}

#optionsButton {
    font-size: 100%;
    margin: 0.5em;
    background-color: lightgreen;
}

#todayReport {
    background: rgb(255, 255, 197);
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}

#booksReadTodayStr {
    font-size: 100%;
    padding: 0.5em 0.5em 0.5em 0;
}

.bookToday {
    background-color: lightyellow;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid black;
}

#todayReportTotal {
    font-size: 100%;
    padding: 0.5em 0.5em 0.5em 0;
}